CTEST_RESOURCE_DIR=
EIKEN_RESOURCE_DIR=
KYOTE_RESOURCE_DIR=

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://mosque:password@localhost:5432/mosque?schema=public"

ADMIN_NAME=
ADMIN_PASS=

SESSION_EXPIRES_IN_MINUTES=60

SCHOOL_CODE=

MAIL_ACCOUNT=
MAIL_PASSWORD=

ORIGIN=http://api.yourapp.com/
PORT=3000

FEATURE_BOARD=false
