SERVER_NAME=localhost
SERVER_HOST=http://localhost

MYSQL_ROOT_PASSWORD=password
MYSQL_DATABASE=mosque
MYSQL_USER=mosque
MYSQL_PASSWORD=password
MYSQL_SERVER=localhost

FIRST_SUPERUSER=admin
FIRST_SUPERUSER_PASSWORD=password

BACKEND_CORS_ORIGINS=["http://localhost", "http://localhost:5173"]
PROJECT_NAME=mosque
SECRET_KEY=<openssl rand -hex 32>

USERS_OPEN_REGISTRATION=False

SENTRY_DSN=
