.vscode
.venv
.mypy_cache
.DS_Store
.env
backend.pid
__pycache__
*secret*
mosque*.xml
WinSW.exe
logs
export_*.json
strapi/src/extensions/documentation/public/index.html
strapi/src/extensions/documentation/documentation/1.0.0/full_documentation.json
cache
