/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.markdown h2 {
		@apply text-2xl w-full font-semibold mt-8 mb-4;
	}
}
